div{
    color:yellow;
    font-size: 30px;
    font-weight:800 ;
    font-family:serif;
    font-style: italic;
    width: 100px;
    height: 100px;
    background: #ff0000;
}
a{
    background: #ff0000;
    color: blueviolet;
    text-decoration: none;
    line-height: 400px;
}